
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

  <h2 class="card-header">Bio-Data</h2>
  <div class="card" style="width:50rem;">
  <img src="assets/images/nobi.jpg" class="card-img-top" alt="vcyffugu">
    </div>
  <div class="card-body">
    <p class="card-text">

    <p><b>First Name:</b> <%= @detail.first_name %></p>
    <p><b>Last Name:</b><%= @detail.last_name %></h1>
    <p><b>Age:</b><%= @detail.age %></h1>
    <p><b>Height:</b><%= @detail.height %></h1>
    <p><b>Complex:</b><%= @detail.complex %></h1>
    <p><b>Father Name:</b><%= @detail.father_name %></h1>
    <p><b>Mother Name:</b><%= @detail.mother_name %></h1>
    <p><b>Address:</b><%= @detail.address %></p>
    </p>
    </div>
    
    
    






